<div class="accordion-inner">
	<div class="accordion-title">
		<h1 class="accordion-title-inner">
			{{title}}
		</h1>
	</div>

	<div class="accordion-body">
		<div class="accordion-body-inner">
			<em>{{body}}</em>
		</div>
	</div>

	<div class="accordion-items"></div>
</div>