<div class="accordion-item-inner">
	<div class="accordion-item-title">
		<div class="accordion-item-title-inner">
			{{title}}
		</div>
	</div>
	<div class="accordion-item-body display-none">
		<div class="accordion-item-body-inner">
			{{body}}
		</div>
	</div>
</div>